body {
    background-color: black;
    background-image: url('images/mapBackground.jpg');
    background-repeat: no-repeat;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('empty.gif');
}

.container {
	position: relative;
}

.planet {
	position: absolute;
	width: .8em; height: .8em; 
    -webkit-border-radius: 0.4em; -moz-border-radius: 0.4em;
}
#planet1 {
    top: 90px;
    left: 121px; 
    background-color:red;
}

#planet2 {
	position: absolute;
    top: 90px;
    left: 135px; 
    background-color:blue;
}

#planet3 {
	position: absolute;
    top: 90px;
    left: 150px; 
    background-color:orange;
}

#planet4 {
	position: absolute;
    top: 90px;
    left: 165px; 
    background-color:yellow;
}

#planet5 {
	position: absolute;
    top: 90px;
    left: 180px; 
    background-color:purple;
}