body {
    background: black;
    background-image: url('images/mapBackground.jpg');
    background-repeat: no-repeat;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('empty.gif');
}

.container {
	position: relative;
}

.planet {
	position: absolute;
	width: .8em; height: .8em; 
    -webkit-border-radius: 0.4em; -moz-border-radius: 0.4em;
}

#planet1-1 {
    top: 90px;
    left: 121px; 
    background:red;
}

#planet1-2 {
    top: 90px;
    left: 135px; 
    background:red;
}

#planet1-3 {
    top: 90px;
    left: 150px; 
    background:red;
}

#planet1-4 {
    top: 90px;
    left: 165px; 
    background:red;
}

#planet1-5 {
    top: 90px;
    left: 180px; 
    background:red;
}

#planet2-1 {
    top: 90px;
    left: 121px; 
    background:blue;
}

#planet2-2 {
    top: 90px;
    left: 135px; 
    background:blue;
}

#planet2-3 {
    top: 90px;
    left: 150px; 
    background:blue;
}

#planet2-4 {
    top: 90px;
    left: 165px; 
    background:blue;
}

#planet2-5 {
    top: 90px;
    left: 180px; 
    background:blue;
}

#planet3-1 {
    top: 90px;
    left: 121px; 
    background:orange;
}

#planet3-2 {
    top: 90px;
    left: 135px; 
    background:orange;
}

#planet3-3 {
    top: 90px;
    left: 150px; 
    background:orange;
}

#planet3-4 {
    top: 90px;
    left: 165px; 
    background:orange;
}

#planet3-5 {
    top: 90px;
    left: 180px; 
    background:orange;
}

#planet4-1 {
    top: 90px;
    left: 121px; 
    background:yellow;
}

#planet4-2 {
    top: 90px;
    left: 135px; 
    background:yellow;
}

#planet4-3 {
    top: 90px;
    left: 150px; 
    background:yellow;
}

#planet4-4 {
    top: 90px;
    left: 165px; 
    background:yellow;
}

#planet4-5 {
    top: 90px;
    left: 180px; 
    background:yellow;
}

#planet5-1 {
    top: 90px;
    left: 121px; 
    background:purple;
}

#planet5-2 {
    top: 90px;
    left: 135px; 
    background:purple;
}

#planet5-3 {
    top: 90px;
    left: 150px; 
    background:purple;
}

#planet5-4 {
    top: 90px;
    left: 165px; 
    background:purple;
}

#planet5-5 {
    top: 90px;
    left: 180px; 
    background:purple;
}

#planet6-1 {
    top: 90px;
    left: 121px; 
    background:green;
}

#planet6-2 {
    top: 90px;
    left: 135px; 
    background:green;
}

#planet6-3 {
    top: 90px;
    left: 150px; 
    background:green;
}

#planet6-4 {
    top: 90px;
    left: 165px; 
    background:green;
}

#planet6-5 {
    top: 90px;
    left: 180px; 
    background:green;
}

















