div {
    height:100px;
    width:100px;
    display: inline-block;
	border-radius: 5px;
}

#red {
    background:red;
}

#blue {
    background:blue;
}

#yellow {
    background:yellow;
}

#green {
    background:green;
}

#purple {
    background:purple;
}

#orange {
    background:orange;
}